<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>PluginID</key>
  <string>com.zhouzihang.notchcenter.quickbuttonbox</string>
  <key>Version</key>
  <string>1.0.0</string>
  <key>DisplayName</key>
  <string>Quick Button Box</string>
  <key>Description</key>
  <string>Collects quick actions from other plugins into one drawer grid.</string>
  <key>DisplayNameLocales</key>
  <dict>
    <key>zh-Hans</key>
    <string>快捷按钮盒</string>
  </dict>
  <key>DescriptionLocales</key>
  <dict>
    <key>zh-Hans</key>
    <string>把其他插件的快捷动作收纳进一个抽屉网格。</string>
  </dict>
</dict>
</plist>
