<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>PluginID</key>
  <string>com.notchcenter.clock</string>
  <key>Version</key>
  <string>1.0.0</string>
  <key>DisplayName</key>
  <string>Clock</string>
  <key>Description</key>
  <string>Analog clock face; click opens Clock.</string>
  <key>DisplayNameLocales</key>
  <dict>
    <key>zh-Hans</key>
    <string>时钟</string>
  </dict>
  <key>DescriptionLocales</key>
  <dict>
    <key>zh-Hans</key>
    <string>指针表盘一瞥即知时间，点击打开时钟.app。</string>
  </dict>
</dict>
</plist>
